// PALLETTE
$primary--color: rgb(0, 88, 147);
$secondary--color: rgb(22, 161, 254);
$break--color: rgb(114, 29, 189);
$button--primary: rgb(4, 163, 86);
$button--hover: rgb(8, 201, 108);
$font--color: #2c2c2c;
$font--color--secondary: #fff;

// FONTS
$font--family: Arial;
$font--size--large: 2em;
$font--size--medium: 1.5em;
$font--size--small: 1em;